/*mise en flex des box*/
@mixin generalflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light;
    margin: 300px 0 0 0;
}

/*border des paragraphe*/
@mixin border{
    border: 1px solid $bordercolor;
}

/*flex tarificatio net inclus*/
@mixin containertarifinclus{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    @include border;
    padding: 30px;
}

/*button:hover*/
@mixin button{
    background-color: $light;
    color: $dark;
    box-shadow: 0 0 10px $light;
    transition: 0.150s ease;
}

/*typography Montserrat*/
@mixin typography{
    font-family: 'Montserrat', sans-serif;
}