/*
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'components/buttons';

@import 'layouts/header';
@import 'layouts/footer';

@import 'pages/contact';
*/



body {
    background-color: #080a09;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 10px;
    margin: 0 0 80px 0;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-weight: 600;
    letter-spacing: 3px;
}
h3 {
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
p {
 line-height: 1.5;
 letter-spacing: 1px;
 font-family: 'Montserrat', sans-serif;

}

/*---HEADER---*/
header {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    img {
        margin: 10px;
        height: 100%;
        width: auto;
        filter: invert(1);
    }
    nav ul {
        color: rgb(238, 238, 236);
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between ;
        font-size: 0.8em;
        font-weight: 300;
        list-style: none;
        li {
            margin: 40px;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        a {
            cursor: pointer;
            text-decoration: none;
            color: #eeeeec  ;
            &:hover {
                color: #080a09;
                font-weight: bold;
                text-shadow: 0px 0px 15px #fffffb;
                transition: 0.150s ease;
            }
        }
    }
}

/*---BANNER---*/
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    img {
        position: relative;
        height: 900px;
        filter: grayscale(100%);
        transform: scaleX(-1);
    }
    h1 {
        position: absolute;
        z-index: 20;
        top: 35%;
        color: #eeeeec;
        font-size: 2.5em;
        font-weight: 200;
        font-style: italic;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin: 50px;
        text-align: center;
        text-shadow: 0 0 1em black;
    }
    a {
        text-decoration: none;
        position: absolute;
        z-index: 30;
        bottom: 100px;
        i {
            font-size: 50px;
            color:#eeeeec;
            animation: bounce 2s cubic-bezier(.6,-0.01,.32,1) infinite;
            @keyframes bounce {
                0% {transform: translateY(0);}
                50% {transform: translateY(10px);}
                100% {transform: translateY(0);}
            }
            &:hover {
                cursor: pointer;
                text-shadow: 0px 0px 15px #fffffb;
                transition: 0.150s ease;
            }
        }
    }
}

/*---RESUME---*/
.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eeeeec;
    margin: 300px 0 0 0;
    .container_resume {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 20px;
        img {
            width: 50%;
            height: auto;
            filter: grayscale(100%);
            margin: 0 20px 0 20px;
        }
        p {
            border: 1px solid #eeeeec69;
            width: 50%;
            font-size: 1em;
            margin: 0;
            padding: 30px;
        }
    }
    .container_resume:nth-child(3) {
        display: flex;
        flex-direction: row-reverse;
        p {
            text-align: end;
        }
    }
}

/*---ECOUTE---*/
.ecoute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eeeeec;
    margin: 300px 0 0 0;
    .container_ecoute {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 50%;
            height: 100%;
        }
        .block_ecoute {
            display: flex;
            flex-direction: column;
            padding: 20px 40px 20px 40px;
        }
    }
}

/*---PACKAGE---*/
.mariage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eeeeec;
    margin: 300px 0 0 0;
    .package {
        display: grid;
        width: 80%;
        margin: 0 40px 40px 40px;
        grid-template-areas: "a a a a"
                             "b b c c";
        .container_package {
            grid-area: a;
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin: 20px 20px 100px 20px;
            img {
                object-fit: cover;
                object-position: 70% 50%;
                height: 500px;
                width: 50%;
            }
            p {
                display: flex;
                justify-content: center;
                align-items: center ;
                padding: 20px 40px 20px 0px;
                text-align: start;
            }
        }
        .container_tarification {
            grid-area: b;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 20px;
            border: 1px solid #eeeeec69;
            padding: 30px;
            button {
                cursor: pointer;
                border: 1px solid #eeeeec;
                background-color: #080a09;
                color: #eeeeec;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-weight: 0.200;
                width: 50%;
                padding: 15px 20px 15px 20px;
                margin: 50px 0 50px 0;
                font-size: 1.2em;
                &:hover {
                    background-color: #eeeeec;
                    color: #080a09;
                    box-shadow: 0 0 10px #eeeeec;
                    transition: 0.150s ease;
                }
            }
        }
        .container_inclus {
            grid-area: c;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 20px;
            border: 1px solid #eeeeec69;
            padding: 30px;
        }
    }
}

/*---CONTACT---*/
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eeeeec;
    margin: 300px 0 0 0;
    .container_contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 70%;
        .block_question {
            width: 40%;
            padding: 20px 40px 20px 0px;
        }
        .block_formulaire {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 60%;
            padding: 20px 40px 20px 0px;
            #nom, #prenom, #telephone,#message {
                width: 100%;
                border: 1px solid #eeeeec;
                background-color: #080a09;
                margin: 20px 0 20px 0;
                padding: 10px;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 0.8em;
            }
            textarea {
                resize: none;
                height: 170px;
            }
            button {
                cursor: pointer;
                border: 1px solid #eeeeec;
                background-color: #080a09;
                color: #eeeeec;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 0.8em;
                padding: 10px 30px 10px 30px;
                width: 60%;
                &:hover {
                    background-color: #eeeeec;
                    color: #080a09;
                    box-shadow: 0 0 10px #eeeeec;
                    transition: 0.150s ease;
                }    
            }
        }
    }
}

/*---CONTACT---*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 200px 0 100px 0;
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 70%;
        color: #eeeeec;
        font-size: 0.9em;
        div {
            margin: 20px;
        }
        h3 {
            font-size: 0.8em;
            text-align: center;
            a {
                color: #fffffb;
                text-decoration: none;
            }
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            margin-top: 30px;
            width: 25%;
            height: 50px;
            li {
                img:nth-child(1) {
                    width: 40px;
                }
                img:nth-child(1) {
                    width: 40px;
                }
                img:nth-child(1) {
                    width: 40px;
                }
                &:hover {
                    cursor: pointer;
                    text-shadow: 0px 0px 35px #fffffb;
                    transition: 0.150s ease;
                }
            }
        }
    }
}

