footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 200px 0 100px 0;
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 70%;
        color: $light;
        font-size: 0.9em;
        div {
            margin: 20px;
        }
        h3 {
            font-size: 0.8em;
            text-align: center;
            a {
                color: $lighttextshadow;
                text-decoration: none;
            }
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            margin-top: 30px;
            width: 25%;
            height: 50px;
            li {
                img:nth-child(1) {
                    width: 40px;
                }
                img:nth-child(1) {
                    width: 40px;
                }
                img:nth-child(1) {
                    width: 40px;
                }
                &:hover {
                    cursor: pointer;
                    text-shadow: 0px 0px 35px $lighttextshadow;
                    transition: 0.150s ease;
                }
            }
        }
    }
}